@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap");
body {
  font-family: "Open Sans";
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: white;
  padding-top: 5rem;
}

header img {
  margin-left: 5rem;
}

header button {
  background-color: white;
  color: #ff52bf;
  width: 130px;
  height: 40px;
  border: 1px solid #ff52bf;
  border-radius: 25px;
  font-size: 1rem;
  text-transform: capitalize;
  float: right;
  margin-right: 4rem;
}

.intro {
  background-color: white;
}

.intro h1 {
  margin-top: 14rem;
  color: #00252e;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 3rem;
}

.intro p {
  font-size: 1.25rem;
  width: 600px;
  margin: 0 auto;
  color: #00252e;
  font-family: "Open Sans";
  line-height: 1.75;
  text-align: center;
  margin-bottom: 3rem;
}

.intro img {
  margin-left: 14%;
  margin-bottom: 10rem;
}

.intro button {
  margin-left: 36%;
  background-color: #ff52bf;
  color: white;
  border: none;
  width: 400px;
  height: 78px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 6.75rem;
}

.top .topBox {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.top .topBox h1 {
  color: #00252e;
  font-size: 6rem;
  margin-top: -1rem;
}

.top .topBox h3 {
  font-size: 1.5rem;
  margin-top: -3rem;
  color: gray;
  font-weight: 100;
}

.top #topBoxA {
  margin-left: 17.5rem;
}

.top #topBoxB {
  float: right;
  margin-right: 16.5rem;
}

.top #topBoxB h3 {
  margin-left: 3rem;
}

.top .curveMobile {
  display: none;
}

.middle img.curve {
  width: 100%;
}

.middle .middleBox img {
  width: 525px;
  height: auto;
}

.middle .middleBox h3 {
  color: #00252e;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Poppins";
}

.middle .middleBox p {
  margin-top: -1.25rem;
  color: #00252e;
  max-width: 520px;
}

.middle #midBox1 {
  height: 500px;
  background-color: #f5faff;
  padding-top: 5rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.middle #midBox1 img {
  float: right;
  margin-right: 10.5%;
}

.middle #midBox1 h3 {
  padding-top: 7rem;
  margin-left: 9%;
}

.middle #midBox1 p {
  margin-left: 9%;
}

.middle #midBox2 {
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.middle #midBox2 img {
  margin-left: 9.5%;
}

.middle #midBox2 h3 {
  float: right;
  padding-top: 6rem;
  margin-right: 12%;
}

.middle #midBox2 p {
  margin-top: -10rem;
  float: right;
  margin-right: 8.5%;
}

.middle #midBox3 {
  height: 500px;
  background-color: #f5faff;
  padding-top: 5rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.middle #midBox3 img {
  float: right;
  margin-right: 10.5%;
}

.middle #midBox3 h3 {
  padding-top: 7rem;
  margin-left: 9%;
}

.middle #midBox3 p {
  margin-left: 9%;
}

.curveMobile {
  display: none;
}

.bottom h1 {
  color: #00252e;
  font-size: 2.5rem;
  font-family: "Poppins";
  margin-left: 25%;
  margin-top: 10rem;
}

.bottom button {
  margin-left: 35%;
  background-color: #ff52bf;
  color: white;
  border: none;
  width: 400px;
  height: 78px;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 11rem;
}

img.curve {
  max-width: 100%;
  overflow: hidden;
}

#footerCurve {
  max-width: 101%;
  margin-left: -7px;
}

img.curves {
  max-width: 100%;
}

footer {
  color: white;
  margin-top: -.5rem;
  padding-top: 150px;
  height: 500px;
  background-color: #00252e;
}

footer #footerBox1 {
  width: 350px;
  margin-left: 8.5%;
  height: auto;
}

footer #footerBox1 img.logo {
  margin-bottom: 1rem;
}

footer #footerBox1 img.contact {
  margin-top: 1rem;
}

footer #footerBox1 h3 {
  font-size: 1rem;
  font-weight: 400;
}

footer #footerBox1 span {
  margin-left: 1rem;
}

footer #footerBox1 #social {
  margin-top: 5rem;
}

footer #footerBox1 #social i.fab.fa-facebook-f.fa-lg {
  background-color: white;
  display: inline-block;
  color: #00252e;
  width: 15px;
  height: 25px;
  line-height: 1.25;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 2px;
  border-radius: 2px;
  margin-right: 1rem;
}

footer #footerBox1 #social i.fab.fa-twitter.fa-lg {
  background-color: white;
  display: inline-block;
  color: #00252e;
  width: 20px;
  height: 20px;
  line-height: 1.7;
  padding: 1px 5px 10px 5px;
  border-radius: 2px;
}

footer #footerBox1 #social i.fab.fa-instagram.fa-2x {
  margin-right: 1rem;
}

footer #footerBox2 {
  width: 600px;
  float: right;
  margin-top: -22rem;
  margin-right: 2.75rem;
}

footer #footerBox2 h3 {
  text-transform: uppercase;
}

footer #footerBox2 p {
  max-width: 350px;
  margin-bottom: 3rem;
}

footer #footerBox2 input {
  width: 318px;
  border: none;
  height: 46px;
  border-radius: 5px;
}

footer #footerBox2 button {
  margin-left: 2.25rem;
  width: 160px;
  height: 44px;
  background-color: #ff52bf;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.attribution {
  margin-top: -2rem;
  color: white;
  opacity: .5;
}

.attribution a {
  text-decoration: none;
  color: white;
}

.attribution a::link {
  color: white;
}

@media only screen and (max-width: 1200px) {
  header {
    margin-bottom: 5rem;
  }
  .intro h1 {
    width: 70%;
    margin: 0 auto;
  }
  .intro img {
    width: 75%;
    height: auto;
  }
  .top #topBoxA {
    margin-left: 15%;
  }
  .top #topBoxB {
    margin-right: 15%;
  }
  .middle .middleBox img {
    width: 400px;
    height: auto;
  }
  .middle .middleBox h3 {
    width: 350px;
  }
  .middle .middleBox p {
    width: 350px;
  }
  .middle #midBox2 h3 {
    margin-top: -4rem;
  }
  .middle #midBox2 p {
    margin-top: -7rem;
    margin-right: 10rem;
  }
  .bottom h1 {
    margin-left: 20%;
  }
  footer #footerBox2 {
    margin-top: -21rem;
    width: 350px;
  }
  footer #footerBox2 button {
    float: right;
    margin-top: 1rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .intro h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro button {
    width: 180px;
    height: 40px;
    font-size: .75rem;
    margin-left: 40%;
  }
  .top .topBox h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .top #topBoxB {
    margin-right: 5%;
  }
  .top #topBoxB h3 {
    margin-left: 0rem;
  }
  .middle .middleBox img {
    width: 300px;
    height: auto;
  }
  .middle .middleBox h3 {
    margin-top: -4rem;
    font-size: 1.75rem;
  }
  .middle .middleBox p {
    font-size: 1rem;
  }
  .middle #midBox2 p {
    margin-top: -8rem;
    margin-right: 5%;
  }
  .middle #midBox2 h3 {
    margin-right: 5%;
  }
  .bottom h1 {
    font-size: 1.75rem;
    margin-left: 25%;
  }
  .bottom button {
    width: 180px;
    height: 40px;
    font-size: .75rem;
    margin-left: 40%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 700px;
  }
  footer #footerBox1 {
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  footer #footerBox2 {
    margin: 0 auto;
    padding-bottom: 5rem;
  }
  .attribution {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    margin-top: -2rem;
  }
  .intro p {
    width: 80%;
  }
  .top {
    max-width: 100%;
  }
  .top .topContainer {
    border: 1px solid red;
    width: 70%;
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .top .topBox img {
    height: auto;
    margin-right: 85%;
  }
  .top #topBoxB {
    margin-left: 15%;
  }
  .middle .middleBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .middle #midBox1 img {
    margin-left: 30%;
  }
  .middle #midBox1 p {
    margin-left: 25%;
    text-align: center;
  }
  .middle #midBox1 h3 {
    margin-left: 25%;
    text-align: center;
  }
  .middle #midBox3 img {
    margin-left: 30%;
  }
  .middle #midBox3 p {
    margin-left: 25%;
    text-align: center;
  }
  .middle #midBox3 h3 {
    margin-left: 25%;
    text-align: center;
  }
  .middle #midBox2 img.image {
    margin-left: 30%;
  }
  .middle #midBox2 p {
    margin-left: 25%;
    margin-top: -2%;
    text-align: center;
  }
  .middle #midBox2 h3 {
    margin-left: 25%;
    text-align: center;
  }
  .bottom h1 {
    margin-left: 15%;
  }
}
/*# sourceMappingURL=style.css.map */