@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:700&display=swap');

$pink: hsl(322, 100%, 66%);
$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: hsl(207, 100%, 98%);

$mobile: 375px;
$desktop: 1440px;


body {
    font-family: 'Open Sans', ;
    max-width: 100%;
    margin: 0 auto;
}

header {
    background-color: white;
    padding-top: 5rem;
    img {
        margin-left: 5rem;
    }
    button {
        background-color: white;
        color: $pink;
        width: 130px;
        height: 40px;
        border: 1px solid $pink;
        border-radius: 25px;
        font-size: 1rem;
        text-transform: capitalize;
        float: right;
        margin-right: 4rem;
    }
}

.intro {
    background-color: white;
    h1 {
        margin-top: 14rem;
        color: $veryDarkCyan;
        text-align: center;
        font-family: 'Poppins', ;
        font-weight: 700;
        font-size: 3rem;
    }
    p {
        font-size: 1.25rem;
        width: 600px;
        margin: 0 auto;
        color: $veryDarkCyan;
        font-family: 'Open Sans', ;
        line-height: 1.75;
        text-align: center;
        margin-bottom: 3rem;
    }
    img {
       margin-left: 14%;
       margin-bottom: 10rem;
       
    }
    button {
        margin-left: 36%;
        background-color: $pink;
        color: white;
        border: none;
        width: 400px;
        height: 78px;
        border-radius: 50px;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 6.75rem;
    }
}

.top {
    .topBox {
        display: inline-block;
        width: 300px;
        height: 300px;
        
        h1 {
            color: $veryDarkCyan;
            font-size: 6rem;
            margin-top: -1rem;
        }
        h3 {
            font-size: 1.5rem;
            margin-top: -3rem;
            color: gray;
            font-weight: 100;
        }
    }
    #topBoxA {
        margin-left: 17.5rem;
    }
    #topBoxB {
        float: right;
        margin-right: 16.5rem;
        h3 {
            margin-left: 3rem;
        }
    }
    .curveMobile {
        display: none;
    }
}

.middle {
    img.curve {
        width: 100%;
    }
    .middleBox {
        
        img {
            width: 525px;
            height: auto;
        }
        h3 {
            color: $veryDarkCyan;
            font-size: 2.5rem;
            font-weight: 700;
            font-family: 'Poppins', ;
        }
        p {
            margin-top: -1.25rem;
            color: $veryDarkCyan;
            max-width: 520px;;
        }

        

    }
    #midBox1 {
        height: 500px;
        background-color: $veryPaleBlue;
        padding-top: 5rem;
        margin-top: -1rem;
        margin-bottom: -1rem;
        img {
            float: right;
            margin-right: 10.5%;
        }
        h3 {
            padding-top: 7rem;
            margin-left: 9%;
           
        }
        p {
            margin-left: 9%;
        }
    }
    #midBox2 {
        margin-top: 12rem;
        margin-bottom: 10rem;
        img {
            
            margin-left: 9.5%;
        }
        h3 {
            float: right;
            padding-top: 6rem;
            margin-right: 12%;
           
        }
        p {
            margin-top: -10rem;
            float: right;
            margin-right: 8.5%;
           
        }
    }
    #midBox3 {
        height: 500px;
        background-color: $veryPaleBlue;
        padding-top: 5rem;
        margin-top: -1rem;
        margin-bottom: -1rem;
        img {
            float: right;
            margin-right: 10.5%;
        }
        h3 {
            padding-top: 7rem;
            margin-left: 9%;
           
        }
        p {
            margin-left: 9%;
        }
    }
}

.curveMobile {
    display: none;
}


.bottom {
    h1 {
        color: $veryDarkCyan;
        font-size: 2.5rem;
        font-family: 'Poppins', ;
        margin-left: 25%;
        margin-top: 10rem;
    }
    button {
        margin-left: 35%;
        background-color: $pink;
        color: white;
        border: none;
        width: 400px;
        height: 78px;
        border-radius: 50px;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 11rem;
    }
}

img.curve {
    max-width: 100%;
    overflow: hidden;
}

#footerCurve {
    max-width: 101%;
    margin-left: -7px;
    
    
}

img.curves {
    max-width: 100%;
}

footer {
    
    color: white;
    margin-top: -.5rem;
    padding-top: 150px;;
    height: 500px;
    background-color: $veryDarkCyan;
    #footerBox1 {
        
        width: 350px;
        margin-left: 8.5%;
        height: auto;
        img.logo {
            margin-bottom: 1rem;
        }
        img.contact {
            margin-top: 1rem;
        }
        h3 {
            font-size: 1rem;
            font-weight: 400; 
        }
        span {
             margin-left: 1rem;
             
        }
        #social {
            margin-top: 5rem;
            i.fab.fa-facebook-f.fa-lg {
                background-color: white;
                display: inline-block;
                color: hsla(192, 100%, 9%, 7);
                width: 15px;
                height: 25px;
                line-height:  1.25;
                padding-top: 5px;
                
                padding-left: 10px;
                padding-right: 2px;
                border-radius: 2px;
                margin-right: 1rem;
            }
            i.fab.fa-twitter.fa-lg {
                background-color: white;
                display: inline-block;
                color: hsla(192, 100%, 9%, 7);
                width: 20px;
                height: 20px;
                line-height: 1.7;
                padding: 1px 5px 10px 5px;
                border-radius: 2px;
            }
            i.fab.fa-instagram.fa-2x {
                margin-right: 1rem;
            }
        }
    }
    #footerBox2 {
        
        width: 600px;
        float: right;
        margin-top: -22rem;
        margin-right: 2.75rem;
        h3 {
            text-transform: uppercase;
            
        }
        p {
            max-width: 350px;
            margin-bottom: 3rem;
        }
        input {
            width: 318px;
            border: none;
            height: 46px;
            border-radius: 5px;
        }
        button {
            margin-left: 2.25rem;
            width: 160px;
            height: 44px;
            background-color: hsla(322, 100%, 66%, 1);
            border: none;
            border-radius: 5px;;
            color: white;
            font-size: 1rem;
            
        }
    }

}


.attribution {
    margin-top: -2rem;
    color: white;
    opacity: .5;
    a {
        text-decoration: none;
        color: white;
    }
    a::link {
        color: white;
    }

}

@media only screen and (max-width: 1200px) {
    header {
        margin-bottom: 5rem;
    }
    .intro {
        h1 {
            
            width: 70%;
            margin:  0 auto;
        }
        img {
            width: 75%;
            height: auto;
        }
    }

    .top {
        #topBoxA {
            margin-left: 15%;
           
        }
        #topBoxB {
            margin-right: 15%;
            
        }
    }
    .middle {
        .middleBox {
            img {
                width: 400px; 
                height: auto;;
            }
            h3 {
                width: 350px;
            }
            p {
                width: 350px;
            }
        }
        #midBox2 {
            h3 {
               margin-top: -4rem;
            }
            p {
                margin-top: -7rem;
                margin-right: 10rem;
                
            }

        }

    }

    .bottom {
        h1 {
            margin-left: 20%;
        }
    }
    footer {
       
        #footerBox2 {
            margin-top: -21rem;
            
            width: 350px;
            button {
                float: right;
                margin-top: 1rem;
                margin-right: 2rem;
            }
        }
    }
   
}

@media only screen and (max-width: 992px) {

    .intro {
        h1 {
            font-size: 1.75rem;
            margin-bottom: 2rem;
            
        }
        p {
           
            font-size: 1rem;
        }
        button {
            width: 180px;
            height: 40px;
            font-size: .75rem;
            margin-left: 40%;
        }

    }

    .top {
        .topBox {
            h1 {
                font-size: 4rem;
                margin-bottom: 3rem;
                margin-top: 2rem;
            }
            
        }
        #topBoxB {
            margin-right: 5%;;
            h3 {
                margin-left: 0rem;
            }
        }
    }

    .middle {
        .middleBox {
            
            img {
                width: 300px;
                height: auto;
                
            }
            h3 {
                margin-top: -4rem;;
                font-size: 1.75rem;
                
            }
            p {
                font-size: 1rem;
            }
        }
        #midBox2 {
            p {
                margin-top: -8rem;
                margin-right: 5%;
                
            }
            h3 {
                margin-right: 5%;

            }
        }
    }

    .bottom {
       
        h1 {
            font-size: 1.75rem;
            margin-left: 25%;
            
        }
        
        button {
            width: 180px;
            height: 40px;
            font-size: .75rem;
            margin-left: 40%;
        }
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
         height: 700px;

        
         #footerBox1 {
            margin: 0 auto;
            padding-bottom: 5rem;
         }
         #footerBox2 {
            margin: 0 auto;
            padding-bottom: 5rem;
        }
         
    }
    .attribution {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    header {
        margin-top: -2rem;
    }

    .intro {
        p {
            width: 80%;
        }
    }

    .top {
        max-width: 100%;
        .topContainer {
            border: 1px solid red;
            width: 70%;
            height: 700px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }
        .topBox {
            
            img {
                height: auto;
                margin-right: 85%;
            }
        }
        #topBoxB {
            margin-left: 15%;
        }
       
        
    }

    .middle {
            .middleBox {
                display: flex;
                flex-direction: column;
                
            }
            #midBox1 {
                img {
                    margin-left: 30%;
                }
                p {
                   margin-left: 25%;
                   text-align: center;
                }
                h3 {
                    margin-left: 25%;
                    text-align: center;
                }
            }
            #midBox3 {
                img {
                    margin-left: 30%;
                }
                p {
                   margin-left: 25%;
                   text-align: center;
                }
                h3 {
                    margin-left: 25%;
                    text-align: center;
                }
                
            }
            #midBox2 {
               
                img.image {
                    margin-left: 30%;
                }
                p {
                   margin-left: 25%;
                   margin-top: -2%;
                   text-align: center;
                }
                h3 {
                    margin-left: 25%;
                    text-align: center;
                }
            }  
       
    }

    .bottom {
        h1 { 
            margin-left: 15%;   
        }
    }
}


@media only screen and (max-width: 600px) {

}