@import url('https://fonts.googleapis.com/css?family=Open+Sans: 400, 600, 700|Poppins: 700&display=swap');

$pink: hsl(322, 100%, 66%);
$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: hsl(207, 100%, 98%);


body {
    background-color: black;
}

